.Slide {
    width: 1000px;
    overflow: hidden;
}


.slideshow {
    display: flex;
}


.slideshow > li {
    list-style: none;
    width: 1000px;
}


.slideshow > li > img
{
    width: 1000px;
}


#resize-me {
    width: 50%;
}

#resize-me > ul {
    width: 500%;
}


#resize-me > ul > li {
    position: relative;
    width: 100%;
}


#resize-me > ul > li > img {
    width: 100%;
}